body {
  font-family: Arial, sans-serif;
  background-color: #eee;
  text-align: center;
  color: #000;
}

/* Header */
header {
  background-color: darkblue;
  padding: 1rem;
  color: #fff;
}

h1 span {
  color: yellow;
}

/* Columns */
textarea {
  border: 4px solid darkblue;
  border-radius: 5px;
  padding: 2px;
  resize: none;
  margin-bottom: 3%;
}

h2 {
  margin-top: 1.4rem;
}

/* Buttons */

.btn {
  width: 120px;
  font-size: 1.2rem;
}
